*,*::before, *::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    min-height: 100vh;
}

html, body {
    height: 100%;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}

.main-container {
    border: 1px solid purple;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr; 
    height: 100%;
    width: 100%;
    
}

.sidebar {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    grid-template-rows: 1fr 3fr 5fr;
    background-color: #38bdf8;
    color: white;
}

.header {
    border: 5px solid purple;
    display: grid;
    grid-column: 2;
    grid-row: 1 / 2;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 2fr 1.5fr;
    grid-auto-flow: column;
}

.main-content { 
    border: 5px solid purple;
    display: grid;
    grid-column: 2;
    grid-row: 2 / 3;
    grid-template-rows: 1fr 5fr 5fr;
    grid-template-columns: 2.5fr 1fr;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 6.5fr;
}

.firstButtonSet {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(6, 1fr);
}

.firstButtonSet > p {
    display: grid;
    grid-column: 2 / 3;
    align-items: center;
    margin-left: -32px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;

}

.firstIconSet {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / span 6;
    font-size: 24px;
    align-items: center;
    margin-left: 50px;
}

.secondButtonSet {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.searchBarContainer {
    border: 1px solid purple;
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / span 2;
    grid-template-columns: 2fr 1fr;
}

.userInfo {
    display: grid;
    grid-template-columns: 0.8fr 5fr;
    grid-row: 2 / 3;
    grid-column: 1;
}

.yourProjects {
    border: 1px solid purple;
    display: grid;
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.announcements {
    border: 1px solid purple;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.trending {
    border: 1px solid purple;
    display: grid;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.text1 {
    border: 1px solid purple
}

.project1, .project2, .project3, .project4, .project5, .project6 {
    border: 1px solid purple;
}

.DashboardIcon {
    font-size: 50px;
    margin-left: 30px;
    margin-top: 39px;
    
}

.dashboard > p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.75vw;
    align-content: center;
    font-weight: bold;
    margin-left: 10px;
}

.secondIconSet {
    font-size: 24px;
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-left: 50px;
    height: 180px;
    margin-top: 57px;
}

.secondBtns {
    display: grid;
    grid-column: 2 / 3;
    align-items: center;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    height: 150px;
    margin-top: 53px;
    row-gap: 30px;
}

.searchBar {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.searchWindow {
    width: 1000px;
    height: 38px;
    border-radius: 15px;
    align-self: center;
    margin-left: -90px;
    background-color: #e4e4e7;
}

.searchIcon {
    width: fit-content;
    font-size: 30px;
    align-self: center;
    margin-left: 60px;
}

.name {
    display: grid;
    grid-template-columns: 1.2fr 0.3fr 1fr;
    grid-template-rows: 1;
    align-items: center;
}

.profilePic {
    width: 45px;
    height: 45px;
    border-radius: 30px;
    justify-self: center;
}

.bellIcon {
    font-size: 30px;
    width: fit-content;
    justify-self: end;
}

.name > p {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: fit-content;
    justify-self: start;
}

.profilePic1 > img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.profilePic1 {
    align-content: center;
    justify-self: end;
}

.helloMsg {
    align-content: center;
}

.helloMsg > p {
    margin-left: 25px;
}

.first {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.name1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 35px;
}

.buttons {
    display: grid;
    grid-template-columns: 230px 230px 230px;
    justify-content: center;
    align-content: center;
}

button {
    height: 50px;
    width: 180px;
    border-radius: 30px;
    color: white ;
    background-color: #38bdf8;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border: none;
}
